:root {
    --color1: #ccff66;
    --color2: #f1e8b8;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    min-height: 100vh;
    display:grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: var(--color1);
    min-height: 50px;
    border-bottom: black 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-bar-list {
    list-style-type: none;
    margin-right: 30px;
    display:flex;
    gap: 10px;
    align-items: center;
}

footer {
    background-color: var(--color2);
    border-top: black 1px solid;
    min-height: 50px;
}

h1 a{
    margin: 0;
    padding: 20px;
    text-decoration: none;
    color: black;
}

#playlist-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

.playlist-image {
    width: 95%;
    height: 95%;
    border-radius: 5px;
}

.like-image {
    width: 30px;
    height: 30px;
}


@media screen and (min-width: 1200px) {
    .card-container {
        width: 25%;
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .card-container {
        width: 50%;
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .card-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 479px) {
    .card-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.like-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.card {
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 20px;
}

.card:hover {
    border: 2px solid black;
    box-shadow: 5px 5px 10px #2ec4b6;
}

h2 {
    font-size: 15px;
    margin: 0;
    padding: 5px;
}

h3 {
    font-size: 10px;
    margin: 0;
}

/* CSS for Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: display .5s;
 }
 .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
 }
 #modal-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
 }
 .modal-playlist-cards {
    padding: 20px;
    height: 500px;
    overflow-y: scroll;
 }

 .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
 }
 .close:hover,
 .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
 }

.modal-playlist-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}
.modal-playlist-image {
    width: 100px;
    margin-right: 20px;
    padding:5px;
    border-radius: 10px;
    background-color: var(--color1);
}
.modal-playlist-info h3{
    font-size: 20px;
}

#playlistImage {
    width: 500px;
    border-radius: 10px;
}
.modal-playlist-header h2{
    margin: 5px;
}
.modal-top {
    background-color: var(--color1);
}


/* featured page */
.featured-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#featured-playlist-image {
    width: 500px;
    border-radius: 30px;
}

#featured-playlist-name {
    font-size: 30px;
    font-weight: 100;
}

#featured-playlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featured-songs {
    overflow-y: auto;
    height: 50vh;
}

.featured-song {
    display: flex;
    padding-bottom: 20px;
    padding-left: 100px;
}

.featured-song-info {
    margin: 20px;
}

.featured-song-image {
    width: 90px;
    height: 90px;
    flex-shrink: 0;
}

.featured-song-info h3 {
    font-size: 20px;
}

.featured-song-info p {
    font-size: 10px;
    margin: 0;
}

.hidden {
    display:none;
}

.edit-del-container {
    width: 100%;
    display: flex;
    justify-content: end;
}

#add-btn {
    position: fixed;
    bottom: 100px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
}

#add-btn:hover {
    background-color: var(--color1);
}

#shuffle-button {
    width: 50px;
    height: 30px;
    background-color: var(--color1);
}

.fa-heart {
    color: #ff6666;
}
.fa-plus {
    font-size: 30px;
}

#del-btn:hover {
    background-color: var(--color1);
    border-radius: 2px;
}

#edit-btn:hover {
    background-color: var(--color1);
}

.roboto-mono-title {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
  }

  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
